
body {
    padding: 20px;
    background-color: #111;
    color: #666;
    text-rendering: optimizeLegibility;
}


h1 {
    border-bottom: 1px dashed #f33;
    width: 610px;
}

h1, h1 small {
    color: #f33;
}

hr {
    visibility: hidden;
}



/* Demo styles, should scope these better for release */
p {
    font-size: 30px;
    line-height: 1.2em;
    display: inline;
    letter-spacing: -1px;
    font-weight: bold;
}


.current {
    color: #f33;
}


