
body {
	padding: 20px;
	font-weight: bold;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 30px;
	line-height: 35px;
	background-color: #111;
	color: #666;
	letter-spacing: -1px;
	text-rendering: optimizeLegibility;
}

.current {
	color: #f00;
}


div#wordclock {
    background-color: #222;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    margin: 0 0 10px 0;
}

ul li {
    float: left;
    margin: 0 10px 12px 0; 
}

/* Clearfix the UL */
ul:before, ul:after { content:""; display: table; }
ul:after { clear:both; }
ul { zoom:1; }





