
body {
	padding: 20px;
	font-weight: bold;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 30px;
	line-height: 35px;
	background-color: #111;
	color: #222;
	letter-spacing: -1px;
	text-rendering: optimizeLegibility;
}


.current {
	color: #f00;
}